// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Our colors:
$our-dark-grey: #1b1e1f;
$our-grey: #28272a;
$our-green: #55E6C1;
$our-font-grey: #CAD3C8;
$our-success: #55E6C1;
