.container-fluid {
  position: relative;


.create-client-link {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  margin-right: 40px;
  // background-color: #f1f1f1;
    color: black;
    // padding: 1px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      /* Styles for the button when hovered */
      background-color: #f1f1f1;
      border-radius: 50%;
    }
  }

}
.tab-content{
  margin-top: 20px;
}


