.container-fluid {
  position: relative;

.btn-light {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  margin-right: 40px;
  // background-color: #f1f1f1;
    color: black;
   padding: 9px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      /* Styles for the button when hovered */
      background-color: #f1f1f1;
      border-radius: 50%;
    }
  }
}
.tab-content{
  margin-top: 20px;
}


table {
  border-collapse: collapse;
  background-color: #2C3A47;

}


thead {
	background-color: #333;
	color: #2C3A47;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

.cell-highlight {
  background-color: gold;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #2C3A47;
}

tbody tr:nth-child(even) {
  background-color: #2C3A47;
}
