.s-form {
  background: #2C3A47;
  text-decoration: none;
  text-decoration: none;
  background-color: white;
  padding: 20px;
  margin: 20px; border-radius: 10px;
   box-shadow: 1px 2px 2px 2px lightgrey;

  h1 {
    color: #CAD3C8;
   }


   h2 {
    color: #CAD3C8;
   }

   h3 {
    color: #CAD3C8;
   }

   h6 {
    color: #CAD3C8;
   }

  p {
    color: #CAD3C8;
   }
   a {
    color: #CAD3C8;
   }

  .btn.btn-success {
    background-color: white;
    color: black; /* Optional: Change the text color if needed */
  }
