// Specific CSS for your home-page
body {
  // background-color: #131723;
  background-color: #0f1318;
  text-decoration: none;
}

banner {
  background-color: #0f1318;
  text-decoration: none;
}


.btn-homepage {
  background-color: #9AECDB;
  color: #0f1318;
}

.btn-homepage:hover {
  background-color: #55E6C1;
  color: #2C3A47
}
