.card-invoice-task {
  overflow: hidden;
  height: 120px;
  background: #28272a;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  margin: 0 0 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}


.card-invoice-task h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-invoice-task p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-invoice-task-info {
  padding: 16px;
}

#invoiceclient:hover {
  color: #55E6C1;
}

// #markaspaidnbtn {
//   color: #55E6C1;
// }
