.create-project-link {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  margin-right: 170px;
  margin-bottom: 0px;
  // background-color: #f1f1f1;
    color: black;
    // padding: 1px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &:hover {
      /* Styles for the button when hovered */
      background-color: #f1f1f1;
      border-radius: 50%;
    }
  }
  .clients{
    margin-top: 20px;
  }
