<div class="container py-1">
  <div class="row" style="background-color: white; padding: 30px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">

        <div class="col-sm-6">
          <h2 class="text-center"> Invoices </h2>
          <div>
            <div>
               <%= render "form" %>
            </div>
          </div>
        </div>
</div>






