<nav id="sidebarMenu" class="mt-1 col-md-3 col-lg-2 d-md-block bg-our-grey sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      <li class="nav-item py-1" style="font-size:18px">
        <button class="nav-link <%="active" unless params.has_key?(:tab)%>" id="home-tab" data-bs-toggle="pill" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
          <i class="fa-regular fa-square-plus fa-xs"></i>
          Dashboard
        </button>
      </li>

      <li class="nav-item py-1" style="font-size:18px">
        <button class="nav-link <%="active" if params[:tab] == "customers-tab"%>" id="customers-tab" data-bs-toggle="pill" data-bs-target="#customers" type="button" role="tab" aria-controls="customers" aria-selected="true">
          <i class="fa-regular fa-folder fa-xs"></i>
          Clients
        </button>
      </li>

      <li class="nav-item py-1" style="font-size:18px">
        <button class="nav-link <%="active" if params[:tab] == "projects-tab"%>" id="projects-tab" data-bs-toggle="pill" data-bs-target="#projects" type="button" role="tab" aria-controls="projects" aria-selected="false">
          <i class="fa-regular fa-folder fa-xs"></i>
          Projects
        </button>
      </li>

      <li class="nav-item py-1" style="font-size:18px">
        <button class="nav-link <%="active" if params[:tab] == "invoices-tab"%>" id="invoices-tab" data-bs-toggle="pill" data-bs-target="#invoices" type="button" role="tab" aria-controls="invoices" aria-selected="false">
          <i class="fa-regular fa-folder fa-xs"></i>
          Invoices
        </button>
      </li>

    </ul>
  </div>
</nav>
