
<h1>This is Time Traker dashboard</h1>
<div class="container">
  <ul class="nav nav-tabs tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#clients">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#invoices">Invoices</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="clients" class="tab-pane fade show active">
      <%= render partial: 'client' %>
    </div>
    <div id="projects" class="tab-pane fade">
      <!-- Projects tab content goes here -->

    </div>
    <div id="invoices" class="tab-pane fade">
      <%= render partial: 'invoices' %>
    </div>
  </div>
</div>
