<div
  class="banner">

  <div class="container d-flex justify-content-between">

    <div class="col-6 pe-5">
      <div class="bg-image p-3 text-center shadow-1-strong rounded text-white position-relative"
        style="background-position: center; height: 60vh; background-size: 100%;
          background-repeat: no-repeat; background-image: url('<%= image_url("freelancer.jpg")%>');">
      </div>
    </div>

    <div class="col-6 ps-5">

      </br>
      </br>

      <h3 class="text-justify">Make every second count.</h3>

      </br>
      </br>

      <h3 class="text-justify">
        With <strong class="h1" style="color: #55E6C1;">Time Tracker</strong>,</br>
        your time working will be <strong class="h1" style="color: #55E6C1;">counted effectively</strong></br>
        and your invoices will be <strong class="h1" style="color: #55E6C1;">created automatically</strong>.
      </h3>

      </br>

      <div>
        <button type="button" class="btn btn-homepage">Learn More</button>
      </div>
    </div>

  </div>

</div>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
