<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3>Who are we ?</h3>
        <p>
        <strong style="color: #55E6C1;">Time Tracker</strong> offers freelancers a comprehensive solution for <strong style="color: #55E6C1;">managing their working hours efficiently.</strong> </br>
        With a user-friendly interface and intuitive features, this web app enables freelancers to effortlessly <strong style="color: #55E6C1;">track their time spent on various projects</strong>,</br>
        helping them stay organized and accountable.</br>
        </br>
        By logging their working hours accurately, freelancers gain valuable insights into their productivity,</br>
        identify areas for improvement, and make informed decisions to optimize their workflow.</br>
        </br>
      </p>

      <p>
          The automatic invoice generation feature of Time Tracker is truly a game-changer for freelancers.</br>
          Traditionally, creating invoices manually could be a time-consuming and error-prone task.
          </br>
          </br>
      </p>

      <p>
        However, Time Tracker eliminates these challenges by automating the invoicing process.</br>
        Once freelancers have logged their working hours and set their rates, Time Tracker seamlessly generates</br>
        professional-looking invoices, saving freelancers significant time and effort.</br>
        This streamlining of invoicing not only enhances efficiency but also enhances freelancers' professionalism,</br>
        as they can present their clients with polished, accurate invoices promptly.</br>
      </p>
      </div>

      <div class="col-md-5 order-md-1">
         <%= image_tag "freelancer.jpg", height: 500 %>
      </div>
    </div>

    <hr class="featurette-divider mt-4">

    <div class="row featurette">
      <div class="col-md-7">
        <h3>Why are we different from other app ?</h3>
        </br>
        <p>
          One of the key highlights of Time Tracker is its ability to accommodate customized rates.</br>
          Each freelancer has unique pricing structures for their services, and Time Tracker recognizes and supports</br>
          this diversity. Whether it's hourly rates, fixed project fees, or any other billing structure, freelancers</br>
          can easily configure their rates within the app.</br>
        </p>

      </div>
      <div class="col-md-5">
      <%= image_tag "freelancer.jpg", height: 500 %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- Three columns of text below the carousel -->
  <div class="mt-6 row text-center">
    <h3 class="my-2 pb-4">They talk about us :</h3>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      </br>
      <h3 class="py-2">TimeIsMoney</h3>
      <p>
        "I've tried several time tracking apps, but Time Tracker takes the crown.</br>
        The ability to customize rates and generate professional invoices with just a few clicks has made </br>
        my freelance life so much easier. Highly recommended!"</br>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      </br>
      <h3 class="py-2">FrelancerGuru</h3>
      <p>
        "Time Tracker has been a lifesaver for me!</br>
        It's incredibly user-friendly and helps me stay on top of my working hours effortlessly.</br>
        The automatic invoice generation feature is a game-changer!"</br>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      </br>
      <h3 class="py-2">WorkSmart</h3>
      <p>
        "Time Tracker has streamlined my invoicing process completely. </br>
        The ability to set customized rates for each project saves me time and ensures accurate billing. </br>
        It's a reliable companion for any freelancer on the go!"</br>
        </p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div>
