<%# <div class="modal fade" id="newTaskPopUp" tabindex="-1" aria-labelledby="newTaskPopUpLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> %>

<div class="container py-1">
  <div class="row" style="background-color: white; padding: 30px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">

        <div class="col-sm-6">
          <h2 class="text-center"> Projects </h2>
          <div>
            <div>
               <%= render "form" %>
            </div>
          </div>
        </div>
</div>
