.our-form {
  background: #2C3A47;
  text-decoration: none;
  text-decoration: none;

  h1 {
    color: #CAD3C8;
   }


   h2 {
    color: #CAD3C8;
   }

   h3 {
    color: #CAD3C8;
   }

  p {
    color: #CAD3C8;
   }
   a {
    color: #CAD3C8;
   }

}
.form-row {
  background: #28272a;
  text-decoration: none;
  text-decoration: none;

  h1 {
    color: #CAD3C8;
   }


   h2 {
    color: #CAD3C8;
   }

   h3 {
    color: #CAD3C8;
   }

   h6 {
    color: #CAD3C8;
   }

  p {
    color: #CAD3C8;
   }
   a {
    color: #CAD3C8;
   }

  .btn.btn-success {
    background-color: white;
    color: black; /* Optional: Change the text color if needed */
  }

}
