.modal-content {
  background: #2C3A47;
  text-decoration: none;
  text-decoration: none;
  color: #CAD3C8;

  // input, select {
  //   background-color: #CAD3C8
  // }


}

.modal-body {
  padding: 30px;
}
