.navbar-lewagon {
  justify-content: space-between;
  background: #1b1e1f;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}


.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  background-color: rgba(44, 58, 71,0.3);
  border-radius: 3px;
  text-align: start;
  width: 100%;
}

.nav-link.active {
  color: white;
  background-color: rgba(44, 58, 71,0.7);
  border-radius: 3px;
  text-align: start;
  width: 100%;
}

.nav-link i {
  color: white;
}
