.navbar-lewagon {
  justify-content: space-between;
  background: #0f1318;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}


.nav-link {
  color: #CAD3C8;
}

.nav-link:hover {
  color: #cad3c8;
  background-color: rgba(44, 58, 71,0.3);
  border-radius: 3px;
  text-align: start;
  width: 100%;
}

.nav-link.active {
  color: #cad3c8;
  background-color: rgba(44, 58, 71,0.7);
  border-radius: 3px;
  text-align: start;
  width: 100%;
}

.nav-link i {
  color: #cad3c8;
}

.nav-item-dropdown {
  background: #0f1318;
  color: #CAD3C8;
}
